---
---

$white: #f7fcff;
$blue: #638396;
$off-white: #f7f7f7;
$light-grey: #b0bdc5;
$dark-grey: #2f3c46;

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  /*background: $dark-grey;*/
}
p {
  font-size: 16px;
  text-align: justify;
}
p.center {
  text-align: center;
}
p.big {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
p.extra-small {
  font-size: 14px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: $blue;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0px;
}
.center {
  max-width: 700px;
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .center {
    max-width: 500px;
  }
}
.white {
  color: $white;
}
.light-grey {
  color: $light-grey;
}
.lowercase {
  text-transform: none;
}
/* Nav */
.navbar-custom {
  background: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid $blue;
}
.navbar-brand {
  margin-top: -16px;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: black;
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: white;
  color: black;
}
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}
.navbar-custom .navbar-nav li a:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}
.navbar-custom .navbar-nav li a:hover:after {
  width: 100%;
  background: black;
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
}
.navbar-custom .navbar-toggle {
  text-transform: uppercase;
  font-size: 10px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
}
.logo-header {
  width: 91px;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
  .navbar-brand {
    margin-top: -26px;
  }
  .logo-header {
    width: 106px;
  }
}

.fa-bars {
  font-size: 18px;
}

/* Section */
section {
  padding: 50px 0;
  background-color: white;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
@media (max-width: 767px) {
  section {
    padding: 25px 0;
  }
  section h2 {
    font-size: 2.5em;
  }
}
section.offwhite {
  background: $off-white;
}

.left {
  margin-left: 0px;
}

.divider {
  border-top: 1px solid $blue;
  width: 200px;
}

/* Header */
.header-bg {
  background: url('/img/panels.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.bgvid {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.no-mobile {
}

.bg-mask {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.header-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: $white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-content-inner {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
/* Value Prop */
.intro-item {
  text-align: center;
  padding-bottom: 25px;
  max-width: 400px;
  margin: auto;
}
@media (max-width: 767px) {
  .intro-item {
    padding-bottom: 25px;
  }
}
.bullet {
  width: 35px;
  border-top: 2px solid $blue;
}

.partner {
  padding: 15px;
  margin-bottom: 20px;
}

/* Who We Are */
.page {
  background-image: url('/img/sunset.jpg');
  height: 300px;
}
.page > .bg-mask > .container > h1,
.page > .bg-mask > .container > h2 {
  padding-top: 160px;
  text-align: left;
  margin: 0px;
}
@media (max-width: 767px) {
  .page {
    height: 220px;
  }
  .page > .bg-mask > .container > h1,
  .page > .bg-mask > .container > h2 {
    padding-top: 120px;
  }
}

/* Footer */
footer {
  background: $dark-grey;
  color: $light-grey;
  padding: 20px 0px;
  padding-top: 50px;
}
footer a {
  text-transform: none;
}
footer a:hover {
  text-transform: none;
}
.social-cta {
  /*text-transform: uppercase;*/
  font-size: 16px;
}
.social-icons {
  padding-left: 10px;
}
.social-icons a {
  padding: 5px;
}
footer hr {
  border-top: 1px solid $light-grey;
}
.footer-links {
  display: inline-block;
  float: left;
  padding-bottom: 10px;
}
.footer-links a {
  padding-right: 15px;
}
.footer-copyright {
  display: inline-block;
  float: right;
}
.footer-info > p, .footer-copyright > p > span {
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer-copyright {
    float: left;
    max-width: 300px;
  }
}