<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>LAM Development</title>

    <meta name="description" content="Cypress Creek Renewables partners with local communities and utilities to provide widespread access to affordable, clean energy.">    
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Who We Are - Cypress Creek">
    <meta property="og:description" content="Cypress Creek Renewables partners with local communities and utilities to provide widespread access to affordable, clean energy.">
    <meta property="og:url" content="https://ccrenew.com/who-we-are/">
    <meta property="og:site_name" content="Cypress Creek">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Cypress Creek Renewables partners with local communities and utilities to provide widespread access to affordable, clean energy.">
    <meta name="twitter:title" content="Who We Are - Cypress Creek">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">
</head>


<body>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><img class="logo-header img-responsive" src="/img/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/who-we-are">Who We Are</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">What We Do</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">How We Do It</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Partners</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="content">

    {{ content }}

</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="footer-info">
                    <p>LAM Development is a solar development company that focuses on bringing renewable, affordable power to municipalities. We accomplish this by leveraging our vast network with utilities, construction firms, and real estate companies to quickly and efficiently meet the power needs of our clients. Our knowledge and experience as solar developers allows us to bring together the most capable contractors in order to maximize the positive impact on the town and the environment.
</p>
                </div>
                <hr>
                <div class="footer-social">
                    <span>Follow Us:</span>
                    <a href="//www.facebook.com/CypressCreekRenewables" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="//twitter.com/CCRSolar" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="//www.linkedin.com/company/cypress-creek-renewables" target="_blank"><i class="icon-linkedin"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="row">
                    <div class="col-sm-6 col-lg-5 col-lg-offset-1">
                        <div class="footer-sitemap">
                            <ul>
                                <li><a href="https://ccrenew.com/who-we-are/">Who We Are</a></li>
                                <li><a href="https://ccrenew.com/what-we-do/">What We Do</a></li>
                                <li>
                                    <ul class="sub-menu">
                                        <li><a href="https://ccrenew.com/partners/landowners/">Landowners</a></li>
                                        <li><a href="https://ccrenew.com/partners/utilities/">Utilities</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-group">
                    <div class="footer-link">
                        <a href="/terms-and-conditions/">Terms &amp; Conditions</a>
                        <a href="/privacy">Privacy Policy</a>
                    </div>
                    <div class="footer-copyright">
                        <span class="footer-item">© 2016 <a href="http://cypresscreekrenewables.com">LAM Development</a>.</span>
                        <span>All Rights Reserved</span>
                        <span>Site by <a href="http://tylerstrand.com">Tyler Strand</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>