---
layout: page
---

<div class="row">
    <div class="col-xs-12">
        <div class="center">
            <h2 class="background bg-darkgrey white">General Questions</h2>
        </div>
    </div>
</div>

<div class="subsection-break"></div>

<div class="row">
    {% for question in site.questions %}
        {% if question.type == "general" %}
        <div class="col-lg-12">
            <div class="background bg-medgrey">
                <h4>{{ question.title }}</h4>
                <p>{{ question.body }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>  

<div class="subsection-break"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="center">
            <h2 class="background bg-darkgrey white">LAND LEASE QUESTIONS</h2>
        </div>
    </div>
</div>

<div class="subsection-break"></div>

<div class="row">
    {% for question in site.questions %}
        {% if question.type == "lease" %}
        <div class="col-lg-12">
            <div class="background bg-medgrey">
                <h4>{{ question.title }}</h4>
                <p>{{ question.body }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>