---
layout: default
---

<header class="header-bg">
    <div class="video-container">
        <video autoplay="" loop="" muted="" poster="/img/still-hero.jpg" id="bgvid" class="bgvid">
            <source src="/img/trimmed-hero.mp4" type="video/mp4">
        </video>
        <!-- <img src="/img/still-hero.jpg"/ class="mobile-only"/> -->
    </div>
    <div class="bg-mask"></div>
    <div class="header-content">
            <div class="header-content-inner">
                <h1>{{ page.header-text }}</h1>
                <h2>{{ page.header-subtext }}</h2>
            </div>
    </div>
</header>

<!-- Value Prop -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="intro-item">
                    <h3 class="intro-title">{{ page.bullet1-title }}</h3>
                    <hr class="bullet">
                    <div class="intro-summary">
                        <p class="big center">{{ page.bullet1-body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="intro-item">
                    <h3 class="intro-title">{{ page.bullet2-title }}</h3>
                    <hr class="bullet">
                    <div class="intro-summary">
                        <p class="big center">{{ page.bullet2-body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="intro-item">
                    <h3 class="intro-title">{{ page.bullet3-title }}</h3>
                    <hr class="bullet">
                    <div class="intro-summary">
                        <p class="big center">{{ page.bullet3-body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Story Snippet -->
<section class="offwhite">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="solution-title">{{ page.section1-title }}</h2>
                    <hr class="divider left">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="/img/solar-pv.jpg" class="img-responsive">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h3 class="lowercase">{{ page.subsection1-title }}</h3>
                    <p class="small">{{page.subsection1-body }}</p>
                    <a href="/story">{{ page.subsection1-link }}</a>
                </div>
            </div>
        </div>
    </header>
</section>

<!-- Our Partners Snippet -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="center">{{ page.section2-title }}</h4>
                <h2 class="center">{{ page.section2-subtitle }}</h2>
                <hr class="divider">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="partner">
                    <div class="hovereffect">
                        <img class="img-responsive" src="/img/land.jpeg" alt="">
                        <a href="/partners#landowners" class="overlay">
                            <h2>Landowners</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="partner">
                    <div class="hovereffect">
                        <img class="img-responsive" src="/img/power.jpg" alt="">
                        <a href="/partners#utilities" class="overlay">
                            <h2>Utilities</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="partner">
                    <div class="hovereffect">
                        <img class="img-responsive" src="/img/people.jpg" alt="">
                        <a href="/partners#communities" class="overlay">
                            <h2>Communities</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>