---
layout: page
---

<!-- Our Partners -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="solution-title">We build relationships</h2>
                <hr class="divider left">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 id="landowners">Landowners</h3>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <p class="small">Enter content about the landowners</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 id="utilities">Utilities</h3>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <p class="small">Enter content about the utilities</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 id="communities">Communities</h3>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <p class="small">Enter content about the communities</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 id="investors">Investor</h3>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10">
                <p class="small">Enter content about the investors</p>
            </div>
        </div>
    </div>
</section>
