---
layout: page
---

<!-- History of Solar -->
<section>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="left">LAM Development was born out of a convergence of trends in the solar industry</h5>
            <h2 class="solution-title">The time for solar is now</h2>
            <hr class="divider left">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Improved Panel Technology</h4>
            <p class="small">Over the last decade, great strides have been made in the advancement of solar technology, making them a more viable clean energy solution today. Unlike previous generations, modern panels produce little to no glare, they make are quiet, and new electrical systems technology allows for better monitoring of the solar facility. Ultimately, modern solar energy systems are far safer and less invasive than they once were, and as such are one of the most compelling renewable energy options.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="/img/endless-panels.jpg" class="img-responsive">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <h4>Deforestation</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="/img/solar-pv.jpg" class="img-responsive">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="small">Solar farms often require a moderate amount of deforestation in order to make room for the solar panels. While this as an unfortunate side effect, it is more than offset by the environmental benefits of the solar facility. LAM works hard to minimize the necessary deforestation, often using farmland or landfills to avoid unnecessary deforestation.</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <h4>Decommissioning the System</h4>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <p class="small">Because of the finite lifespan of solar systems, which is typically around 25 years, there is often concern about what happens to the solar equipment at the end of that period. Because solar farms are a relatively new technology, although there are many solar farms, very few have been decommissioned. However, even after the system has ceased generating power, the components still have value, either as scrap or recyclables. As a result, LAM Development is able to sell the rights of the system at the end of its life to a salvage company, which will remove all of the equipment from the land, and sell the components for a profit. At the end of the project's life, LAM guarantees to return the land to its natural state, and makes sure that no component of the system remain on any part of the land.</p>
        </div>
    </div>
</section>