---
layout: default
---
<header class="image-bg-fluid-height inner-page">
    <div class="bg-mask">
        <div class="container">
            <h2>{{ page.header-text }}</h2>
            <div class="subheader">{{ page.subheader-text }}</div>
        </div>
    </div>
</header>

<!-- Value Prop -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="intro-item">
                    <h3 class="intro-title">{{ page.bullet-1-header }}</h3>
                    <div class="intro-summary">
                        <p>{{ page.bullet-1-body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="intro-item">
                    <h3 class="intro-title">{{ page.bullet-2-header }}</h3>
                    <div class="intro-summary">
                        <p>{{ page.bullet-2-body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="intro-item">
                    <h3 class="intro-title">{{ page.bullet-3-header }}</h3>
                    <div class="intro-summary">
                        <p>{{ page.bullet-3-body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Who Are We -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="subheader">LAM Development is a solar development company that focuses on bringing renewable, affordable power to municipalities</div>
                <h2 class="solution-title">A PROVEN, REPEATABLE, SCALABLE MODEL</h2>
            </div>
        </div>
    </div>
</section>