---
layout: default
---

<header class="header-page">
    <div class="bg-page-mask">
        <div class="container">
            <h2 class="white center">{{ page.header-text }}</h2>
            <h5 class="white center lowercase">{{ page.subheader-text }}</p>
        </div>
    </div>
</header>

<div class="row bg-offwhite no-margin">
    <img src="/img/what-we-do/city.png" class="img-responsive img-left"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="work-title no-margin-right">
                    <h3 class="vertical-center background bg-offwhite blue align-left">{{ page.subsection1-title }}</h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="work-bullet">
                    <p class="vertical-center">{{ page.subsection1-body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bg-white no-margin">
    <img src="/img/what-we-do/network.png" class="img-responsive img-right"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 right">
                <div class="work-title no-margin-left">
                    <h3 class="vertical-center background bg-white blue align-right">{{ page.subsection2-title }}</h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="work-bullet">
                    <p class="vertical-center">{{ page.subsection2-body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bg-offwhite no-margin">
    <img src="/img/what-we-do/houses.png" class="img-responsive img-left"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="work-title no-margin-right">
                    <h3 class="vertical-center background bg-offwhite blue align-left">{{ page.subsection3-title }}</h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="work-bullet">
                    <p class="vertical-center">{{ page.subsection3-body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bg-white no-margin">
    <img src="/img/what-we-do/sun.png" class="img-responsive img-right"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 right">
                <div class="work-title no-margin-left">
                    <h3 class="vertical-center background bg-white blue align-right">{{ page.subsection4-title }}</h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="work-bullet">
                    <p class="vertical-center">{{ page.subsection4-body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bg-offwhite no-margin">
    <img src="/img/what-we-do/endless.png" class="img-responsive img-left"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="work-title no-margin-right">
                    <h3 class="vertical-center background bg-offwhite blue align-left">{{ page.subsection5-title }}</h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="work-bullet">
                    <p class="vertical-center">{{ page.subsection5-body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>