---
layout: page
---

<!-- Our Work -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="left">LAM Development brings renewable, affordable power to municipalities in New York</h5>
                <h2 class="solution-title">We provide solar to municipalities</h2>
                <hr class="divider left">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3>Focus</h3>
                <p class="small">LAM Development focuses on bringing renewable, affordable power to municipalities. We accomplish this by leveraging our vast network with utilities, construction firms, and real estate companies to quickly and efficiently meet the power needs of our clients. Our knowledge and experience as solar developers allows us to bring together the most capable contractors in order to maximize the positive impact on the town and the environment.</p>
                <h3>Logistics</h3>
                <p class="small">We start by working with the town to determine if renewable energy is right for them. Then, by working alongside the utility company and the municipality, we determine the optimal site for a solar project which meets all parties’ needs. At this point we survey the land, design the facility, and verify that it conforms with the town’s zoning regulations. Once all pertinent approvals are achieved and the municipality signs off on the project’s construction, the solar system is built and immediately begins producing affordable electricity.</p>
                <h3>Motivation</h3>
                <p class="small">Our goal is to fight the harmful dependence on fossil fuels by building solar energy systems. LAM Development sees New York as a site with great potential for this mission, due to the historical underdevelopment of renewable energy, and the political changes occurring as a result of Governor Cuomo’s Reforming the Energy Vision. Furthermore, selling power to municipalities has distinct advantages, chiefly their large capacity demands. By providing municipal governments with renewable power, we are able to maximize our contribution to diminishing the dependence on fossil fuels, and simultaneously lower the cost of power for our clients.</p>
            </div>
        </div>
    </div>
</section>